@import "tailwindcss";

:root {
    --background-color: #F8FBF1;
    --text-color: #ffffff;
    --bacground-card: #C49FFF;
    --background-button: #7B9DD2;
    --background-button-hover: #646cff;
  

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

}

