name: auto-build-on-push
run-name: ${{ github.actor }} push a commit
on: [push]
jobs:
  check-bats-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: '24.11.1'
      - run : npm install
      - run: npm run build